*{
    margin: 0;
    padding: 0;
}
#div1{
    width: 300px;
    height: 600px;
    border: 1px solid rgb(184, 178, 178);
    background: rgb(184, 178, 178) ;
}
#valores{
    width: 250px;
    height: 60px;
    margin: 20px 20px;
    font-size: 25px ;
}
#cima{
    width: 300px;
    height: 100px;
}

.botoes{
    width: 70px;
    height: 80px;
}
#b1{
    width: 300px;
    height: 100px;
}
#b2{
    width: 300px;
    height: 100px;
}
#b3{
    width: 300px;
    height: 100px;
}
#b4{
    width: 300px;
    height: 100px;
}
#b5{
    width: 300px;
    height: 100px;
}